@import url('https://fonts.googleapis.com/css2?family=Martel&family=Nunito&display=swap');

/* ESTILOS COMUNES */

* {
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-family: 'Martel', serif !important;
}

body {
  overflow-x: hidden;
  background-color: #fffad9;
}

/* Boton */
button {
  font-family: 'Nunito', sans-serif;
  font-size: 110%;
  color:#3c4245;
  width: 100%;
  height: 40px;
  border: none;
  
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  
  background-color:#63e481;
  
  margin-top: 10px;
}

button:hover {
  color: #f2f5f7;
  background-color: #1b262c;
  border: 1px solid #1b262c;
  cursor: pointer;
}

/* NAVBAR */

nav {
  height: 6rem;
  width: 100vw;
  background-color: #131418;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 10;
}


/* Estilo del logo */

.logo {
  padding: 1vh 1vw;
}

.logo img {
  height: 5rem;
}

/* Estilo de los links */

.nav-links {
  display: flex;
  list-style: none; 
  width: 50vw;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}

.nav-links li a {
  text-decoration: none;
  margin: 0 0.7vw;
  color: #f2f5f7;
  font-family: 'Martel', serif;
  letter-spacing: 1px;
  font-weight: 300;
}

.nav-links li a:hover {
  color: #b1afff ;
}
.nav-links li {
  position: relative;
}

.nav-links img {
  height: 2rem;
}

.nav-links li a:before, .nav-links li a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background-color: #b1afff ;
}

.nav-links li a:before {
  left: -2.5px;
}

.nav-links li a:after {
  right: 2.5px;
  background: #b1afff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.nav-links li a:hover:before {
  background: #b1afff;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.nav-links li a:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

/* Estilo del menu hamburguesa */

.hamburger div {
  width: 30px;
  height:3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
}

/* Responsive del nav */
@media screen and (max-width: 1250px) {
  nav {
      position: relative;
      z-index: 3;
  }

  .hamburger {
      display:block;
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
      transition: all 0.7s ease;
  }

  .nav-links {
      position: absolute;
      background: #131418;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(50px at 90% -20%);
      -webkit-clip-path: circle(50px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
  }

  .nav-links.open {
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
  }

  .nav-links li {
      opacity: 0;
  }

  .nav-links li:nth-child(1) {
      transition: all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(2) {
      transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(3) {
      transition: all 0.5s ease 0.6s;
  }

  .nav-links li:nth-child(4) {
      transition: all 0.5s ease 0.7s;
  }

  .nav-links li:nth-child(5) {
      transition: all 0.5s ease 0.8s;
  }

  .nav-links li:nth-child(6) {
      transition: all 0.5s ease 0.9s;
      margin: 0;
  }

  .nav-links li:nth-child(7) {
      transition: all 0.5s ease 1s;
      margin: 0;
  }

  li.fade {
      opacity: 1;
  }

}

/* Animaciones del menu hamburguesa */
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
  transition: all 0.7s ease;
  width:0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

/* FOOTER */

footer {
  background-color: #131418;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  padding-top: 3vh;
}

footer h3 {
  color: white;
  font-family: 'Martel', serif;
}

footer li {
  list-style: none;
  color: white;
  font-family: 'Nunito', sans-serif;
}

.contenedor-columnas {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vw;
}

.copyright-footer {
  display: flex;
  justify-content: center;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: #b1afff;
}

@media screen and (max-width: 1250px) {
  .contenedor-columnas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
  }
  footer h3 {
    text-align: center;
  }
}

/* INDEX */

  .contIndex{
    width: 75%;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  .anuncios{
    margin-top: 3vw;
    margin-bottom: 3vw;
    height: auto;
    background-color: #fff6ba;
    text-align: center;
    padding: 5vh;
  }

  .anuncios img {
    width: 100%;
    height: auto;
    max-width: 1119px;
    max-height: 512px;

  }

  #linea{
    position: relative;
    max-width: 500px;
    margin: 100px auto;
    text-align: center;
  }
  
  #linea:before{
    content:" ";
    height: 2px;
    width: 50vw;
    background: #b1afff ;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
  }
  
  #linea:after{
    content:" ";
    height: 2px;
    width: 50vw;
    background: #b1afff ;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
  }

  .ejemplos{
    height: 200px;
    width: 200px;
  }

  .recomendados, .categorias{
    display: flex;
    flex: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .categorias {
    margin-bottom: 5vh;;
  }


/* CONTACTO */
  body {
    font-family: 'Nunito', sans-serif;  
    font-weight: normal;
    font-size: 100%;
    color: #1b262c;
    margin: 0;
    
  }
  
  #contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    
    background-color:#fffad9;
  }


  #contenedorcentrado {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction:row;

    margin-left: 250px;
    padding: 10px;
    box-sizing: border-box;
}

#formu {
  position:absolute;
  z-index:1;
  width: 100%;
  max-width: 355px;
  min-width: 355px;
  padding: 30px 30px 80px 30px;
  background-color: #ffffff;
  
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
  
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  
  box-sizing: border-box;
  
  opacity: 1;
  filter: alpha(opacity=1);
}


h1 {
  font-family: 'Martel', serif;
  text-align: center;
  color: black;
  margin: 0;
  font-size: 30px;
  margin-bottom: 10px;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}
  
/* Estilo de los inputs y textarea */

input, textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 110%;
  color: #1b262c;
  
  display: block;
  width: 100%;
  height: 40px;
  
  margin-top: 24px;
  margin-bottom:24px;
  padding: 5px 5px 5px 10px;
  
  box-sizing: border-box;
  
  border: none;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;

  background-color: #f5f5f5;
}
  
input:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

textarea:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Responsive de contacto */
@media all and (max-width: 775px) {
  
  #contenedorcentrado {
      flex-direction:column;

      min-width: 380px;
      max-width: 900px;
      width: 90%;

      padding: 30px;
      box-sizing: border-box;

      margin-top: 30px;
  }

  #derecho {
    margin-top: 50px;
    margin-right: 45px;

  }

}

/* Mapa */
#derecho {
  position:absolute;
  z-index:0;

}

/*.warnings{
  width: 200px;
  text-align: center;
  margin:auto;
  color:#fb6363;
  padding-top: 20px;
}*/

.formulario__grupo-input {
	position: relative;
}


.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}


.formulario__mensaje {
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}



.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}



/* LOGIN */

#formu2 {
  width: 100%;
  max-width: 320px;
  min-width: 320px;
  height: 465px;
  padding: 30px 30px 50px 30px;
  background-color: #ffffff;
  
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
  
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  
  box-sizing: border-box;
  
  opacity: 1;
  filter: alpha(opacity=1);

}

#contenedor2 {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

.pie-form {
  font-size: 90%;
  text-align: center;    
  margin-top: 25px;
}

.pie-form a {
  display: block;
  text-decoration: none;
  color: #3c4245;
  margin-bottom: 3px;
}

.pie-form a:hover {
  color: #b1afff;
}


.social{
  margin-top:20px;
  text-align:center;
  cursor:pointer;
  margin:12px auto;
}

/* PRODUCTO */

/* Contenedor principal */

.contenedorProducto {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 15px;
  display: flex;
}

/* Columnas */
.contenidoIzquierda {
  width: 65%;
  position: relative;
}

.contenidoDerecha {
  width: 35%;
  margin-top: 60px;
}


/* Contenido de la izquierda */
.contenidoIzquierda img {
  max-width: 512px;
  max-height: 512px;
}

.contenidoIzquierda img.active {
  opacity: 1;
}


/* Contenido de la derecha */

  /* Descripcion del producto */

  .descripcionProducto h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
  }

  .descripcionProducto p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
  }

  /* Precio Producto */
  .precioProducto {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .precioProducto span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
  }

  .btnCarrito {
    display: inline-block;
    width: 60%;
    text-align: center;
  }

  /* Info Arte */

  .infoArte span {
    font-size: 14px;
    font-weight: 400;
    color: #86939E;
    margin-bottom: 20px;
    display: inline-block;
  }

  .infoArte a {
    color: #358ED7;
    text-decoration: none;
    font-size: 12px;
    position: relative;
    margin: 10px 0;
    display: inline-block;
  }

  .infoArte a:before {
    content: "?";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid rgba(53, 142, 215, 0.5);
    display: inline-block;
    text-align: center;
    line-height: 16px;
    opacity: 0.5;
    margin-right: 5px;
  }

/* Responsive */
@media screen and (max-width: 1250px) {
  .contenedorProducto {
    margin-top: auto;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .contenidoIzquierda,
  .contenidoDerecha {
    width: 100%;
    text-align: center;
  }

  .precioProducto {
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .btnCarrito {
    width: 50%;
  }

  .contenidoIzquierda img {
    width: 300px;
    top: -85px;
    left: initial;
    right: 0;
  }
}

/* SOBRE NOSOTROS */

.contenedorAboutUs {
  margin: auto;
  width: 75%;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.imagenAboutUs {
  float: left;
  margin-right: 10vw;
}

.imagenAboutUs img {
  max-width: 373px;
  max-height: 170px;
}

.btnContacto {
  width: 50%;
  text-align: center;
}

@media screen and (max-width: 1250px) {
  .imagenAboutUs {
    display:inline-block;
    clear: both;
    margin: auto;
    text-align: center;
  }

  .imagenAboutUs img {
    text-align: center;
  }

  .seccionAboutUs {
    display:inline-block;

  }
}

/* PAGINA CATEGORIA  */

#wrapperCat h1 {
  margin-top: 5vh;
  text-align: center;
}

#wrapperCat .toggles {
  max-width: 800px;
  margin: 0 auto;
  display: block;
  clear: both;
  overflow: hidden;
  text-align: center;
}

#wrapperCat button {
  background-color: #63e481;
  display: inline-block;
  padding: 10px;
  width: 150px;
  overflow: visible;
  margin: 5px auto !important;
}

#wrapperCat button:hover {
  color: #f2f5f7;
  background-color: #1b262c;
  border: 1px solid #1b262c;
}

#wrapperCat .covers {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
}
#wrapperCat .covers div {
  margin: 2%;
}
#wrapperCat .covers img {
  border: 1px solid #f2f5f7;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
